version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: chat_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ezen
      MYSQL_DATABASE: chatdb
    ports:
      - "3306:3306"
    volumes:
      - ./Document/chat.sql:/docker-entrypoint-initdb.d/chat.sql
      - mysql_data:/var/lib/mysql
    networks:
      - chat_net

  app:
    build: .
    container_name: chat_app
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
    depends_on:
      - db
    networks:
      - chat_net

networks:
  chat_net:
    driver: bridge

volumes:
  mysql_data:
